th{
    text-align: center;
}
td{
    text-align: center;
  
}
.header{
    text-align: center;
}
.grean{
    color: green;
}
.grey{
    color:gray
}
.orange{
    background-color: orangered;
}
.bgimg{
    background-image: url(https://e7.pngegg.com/pngimages/980/181/png-clipart-flat-white-background-abstract-flat.png);
   
}